---
// props
const {
  font = "serif",
  size = "xs-light",
  color = "",
  rotate = 0,
  align = "center",
  position = "top-center",
} = Astro.props;

const style = `${color ? `color: ${color};` : ""} ${rotate ? `rotate: ${rotate}deg;` : ""}`;
const classList = `sheet-running-head -font-${font} -fs_${size} -text-${align} -ls-l ${position}`;
---

<div class={classList} style={style}>
  <slot />
</div>
