---
// props
const { color = "", size = "s", customStyle = "" } = Astro.props;

const style = `${color ? `color: ${color};` : ""}`;
const classList = `sheet-text -fs_${size} -text-justify ${customStyle}`;
---

<div class={classList} style={style}>
  <slot />
</div>
