---
// props
const {
  level = 1,
  font = "serif",
  size = "md",
  color = "",
  rotate = 0,
  width = 10,
  height = 2,
  column = 1,
  row = 12,
  titleStyle = "",
} = Astro.props;

const style = `${color ? `color: ${color};` : ""} ${rotate ? `rotate: ${rotate}deg;` : ""}`;
const classList = `sheet-title -font-${font} -fs_${size} -g-${width}x${height}-pos-${column}-${row} ${titleStyle}`;
---

<h1 class={classList} style={style}>
  <slot />
</h1>
