---
const { w = 8, h = "", space = "", class: className = "" } = Astro.props;

let c = `-g-unit -g_${w}`;
if (h) c += `_${h}`;
if (space) c += `-${space}`;
if (className) c += ` ${className}`;
---

<div class={c}>
  <slot />
</div>
